# ðŸš† Train Ticket Data Analysis

## ðŸ“Œ Project Overview
This project analyzes train ticket sales and journey performance using **Python (Pandas, Matplotlib) & SQL**.  
We will explore:
- **Most popular & least popular routes**
- **Cancellations & delays trends**
- **Revenue insights**

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3  # If using SQL
import warnings

warnings.filterwarnings("ignore")

 Load the Cleaned Dataset

In [15]:
# Load cleaned dataset
df = pd.read_csv(r"C:\Users\yakou\Desktop\Train-Ticket-Analysis\Data\railway.csv")


# Display first few rows
df.head()

,Transaction_ID,Date_of_Purchase,Time_of_Purchase,Purchase_Type,Payment_Method,Railcard,Ticket_Class,Ticket_Type,Price,Departure_Station,Arrival_Destination,Date_of_journey,Departure_Time,Arrival_Time,Actual_Arrival_Time,Journey_Status,Reason_for_Delay,Refund_Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,None,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-02-01,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,None,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,None,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No

Inspect Data

In [18]:
# Check data types and missing values
df.info()

# Check for duplicates
df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_of_Purchase     31653 non-null  object
 2   Time_of_Purchase     31653 non-null  object
 3   Purchase_Type        31653 non-null  object
 4   Payment_Method       31653 non-null  object
 5   Railcard             31653 non-null  object
 6   Ticket_Class         31653 non-null  object
 7   Ticket_Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure_Station    31653 non-null  object
 10  Arrival_Destination  31653 non-null  object
 11  Date_of_journey      11966 non-null  object
 12  Departure_Time       31653 non-null  object
 13  Arrival_Time         31653 non-null  object
 14  Actual_Arrival_Time  29773 non-null  object
 15  Journey_Status       31653 non-null  object
 16  Reason_for_Delay     4172 non-null   object
 17  Refund_Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

0

Exploratory Data Analysis (EDA)
ðŸ”¹ Most Popular & Least Popular Routes

In [22]:
# Count trips per route
top_routes = df.groupby(["Departure_Station", "Arrival_Destination"]).size().reset_index(name="trip_count")

# Top 5 most popular routes
top_routes.sort_values(by="trip_count", ascending=False).head(5)

        Departure_Station    Arrival_Destination  trip_count
40  Manchester Piccadilly  Liverpool Lime Street        4628
24          London Euston  Birmingham New Street        4209
30     London Kings Cross                   York        3922
35      London Paddington                Reading        3873
36      London St Pancras  Birmingham New Street        3471

ðŸ”¹ Most Canceled & Delayed Trips

In [23]:
# Count canceled and delayed trips
df["Journey_Status"].value_counts()

On Time      27481
Delayed       2292
Cancelled     1880
Name: Journey_Status, dtype: int64